<html>
<head>
  <title> Save your links </title>
  <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
  <% if flash[:error] %>
    <p><%= flash[:error] %></p>
    <% end %>
  <%=yield%>
</body>
</html>
