<h1> Links </h1>
<ul id='links'>
  <% @links.each do |link| %>
    <li>
       <p> Title: <%= link.title %> </p>
       <p> Url: <%= link.url %> </p>
       <p> Tag: <%= link.tags.map(&:name) %> </p>
    </li>
    <% end %>
</ul>

<form action="/links/new">
  <input type="submit" value="Add links">
</form>

<form action="/tags" method="post">
  <input type="text" name="filter_tags">
  <input type="submit" value="Search for links">
</form>
