<h1>Sign up for an account!<h1>

  <form action="/signup-details" method="post">
    Username: <input type="text" name="username">
    Email: <input type="email" name="email" value="<%=@email%>">
    Password: <input type="password" name="password">
    Password Confirmation: <input type="password" name="password_confirmation">
    <input type="submit" value="Sign Up">
  </form>

  <%= flash[:error] %>
