<form action="/links" method="post">
  Add Title: <input type="text" name="add_title">
  Add Url: <input type="text" name="add_url">
  Add Tag: <input type="text" name="add_tag">
  <input type="submit" name="add_link" value="Add Link">
</form>


<form action="/tags/:name">
  <input type="submit" value="Go to links page">
</form>


<!-- <form action="/tags/bubbles" method="post">
  <input type="submit" value="Bubbles">
</form> -->
