<h1> Tags </h1>
<ul id='tags'>
  <% @links.each do |link| %>
    <li>
      <p> Title: <%= link.url %> </p>
      <p> Link: <%= link.title %> </p>
      <p> Tag: <%= link.tags.map(&:name) %> </p>
    </li>
    <% end %>
</ul>
